/* Style the video as needed, for example, set a fixed width */
.logo-video {
  width: 75%; /* Adjust the size as needed */
  /* height: 300px; */
  display: block;
  overflow: hidden;
  margin: 0 auto; /* Centers the video */
}